								<!-- IF not S_SHOW_DRAFTS -->
								<!-- IF S_ALLOW_MASS_PM -->
								<!-- IF not S_EDIT_POST -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="username_list">{L_TO_ADD_MASS}{L_COLON}</label>
									<div class="col-sm-10">
										<textarea class="form-control no-auto-resize" id="username_list" name="username_list" cols="50" rows="2" tabindex="1"></textarea>
										<span class="help-block"><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></span>
									</div>
								</div>

								<!-- IF S_GROUP_OPTIONS -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="group_list">{L_TO_ADD_GROUPS}{L_COLON}</label>
									<div class="col-sm-10">
										<select class="form-control no-auto-resize" name="group_list[]" id="group_list" multiple="multiple" size="3">{S_GROUP_OPTIONS}</select>
									</div>
								</div>
								<!-- ENDIF -->

								<div class="row">
									<div class="col-sm-10 col-sm-offset-2">
										<input class="btn btn-default btn-sm" type="submit" name="add_to" value="{L_ADD}" tabindex="1" />
										<input class="btn btn-default btn-sm" type="submit" name="add_bcc" value="{L_ADD_BCC}" tabindex="1" />

										<hr />
									</div>
								</div>

								<br />
								<!-- ENDIF -->

								<!-- IF .to_recipient -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="group_list">{L_TO_MASS}{L_COLON}</label>
									<div class="col-sm-10">
										<!-- BEGIN to_recipient -->
										<!-- IF not S_EDIT_POST --><input class="btn btn-default btn-sm" type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" /><!-- ENDIF -->
										<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a><!-- ELSE -->{to_recipient.NAME_FULL}<!-- ENDIF -->
										<!-- END to_recipient -->
									</div>
								</div>
								<!-- ENDIF -->

								<!-- IF .bcc_recipient -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="group_list">{L_BCC}{L_COLON}</label>
									<div class="col-sm-10">
										<!-- BEGIN bcc_recipient -->
										<!-- IF not S_EDIT_POST --><input class="btn btn-default btn-sm" type="submit" name="remove_{bcc_recipient.TYPE}[{bcc_recipient.UG_ID}]" value="x" /><!-- ENDIF -->
										<!-- IF bcc_recipient.IS_GROUP --><a href="{bcc_recipient.U_VIEW}">{bcc_recipient.NAME}</a><!-- ELSE -->{bcc_recipient.NAME_FULL}<!-- ENDIF -->
										<!-- END bcc_recipient -->
									</div>
								</div>
								<!-- ENDIF -->

								<!-- ELSE -->

								<!-- IF not S_EDIT_POST -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="username_list">{L_TO_ADD}{L_COLON}</label>
									<div class="col-sm-10">
										<textarea class="form-control no-auto-resize" id="username_list" name="username_list" cols="50" rows="2" tabindex="1"></textarea>
										<span class="help-block"><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></span>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-10 col-sm-offset-2">
										<input class="btn btn-default btn-sm" type="submit" name="add_to" value="{L_ADD}" tabindex="1" />

										<hr />
									</div>
								</div>

								<br />
								<!-- ENDIF -->

								<!-- IF .to_recipient -->
								<div class="form-group form-inline">
									<label class="col-sm-2 control-label" for="group_list">{L_TO}{L_COLON}</label>
									<div class="col-sm-10">
										<!-- BEGIN to_recipient -->
										<!-- IF not S_EDIT_POST --><input class="btn btn-default btn-sm" type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" /><!-- ENDIF -->
										<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a><!-- ELSE -->{to_recipient.NAME_FULL}<!-- ENDIF -->
										<!-- END to_recipient -->
									</div>
								</div>
								<!-- ENDIF -->
								<!-- ENDIF -->
								<!-- ENDIF -->