<!-- INCLUDE overall_header.html -->

<!-- INCLUDE breadcrumbs.html -->

			<div class="actionbar"></div>
			<div class="break-gradient"></div>


				<ul id="ucp-tabs" class="nav nav-tabs ucp-tabs" role="tablist" aria-controls="ucp-panel">
					<!-- BEGIN t_block1 -->
					<li class="nav-item" role="presentation"><a class="nav-link<!-- IF t_block1.S_SELECTED --> active<!-- ENDIF -->" href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a></li>
					<!-- END t_block1 -->
				</ul>

				<div class="table-plain ucp">
						<div class="ucp-content">
							<div class="col-md-3">

								<div class="nav-pills-container">
									<ul class="nav nav-pills nav-fill flex-column">
										<!-- BEGIN t_block2 -->
										<!-- IF S_PRIVMSGS and not t_block2.S_LAST_ROW -->
										<!-- IF t_block2.S_SELECTED -->
										<li id="active-subsection" class="nav-item"><a class="nav-link active" href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
										<!-- ELSE -->
										<li class="nav-item"><a class="nav-link" href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
										<!-- ENDIF -->
										<!-- ENDIF -->
										<!-- END t_block2 -->

										<!-- BEGIN t_block2 -->
										<!-- IF (S_PRIVMSGS and t_block2.S_LAST_ROW) or not S_PRIVMSGS -->
										<!-- IF t_block2.S_SELECTED -->
										<li id="active-subsection" class="nav-item"><a class="nav-link active" href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
										<!-- ELSE -->
										<li class="nav-item"><a class="nav-link" href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a></li>
										<!-- ENDIF -->
										<!-- ENDIF -->
										<!-- END t_block2 -->
									</ul>

									<!-- IF S_PRIVMSGS -->
									<hr />

									<ul class="nav nav-pills nav-stacked flex-column">
									<!-- BEGIN folder -->
										<!-- IF folder.S_CUR_FOLDER -->
										<li id="active-subsection" class="nav-item"><a class="nav-link nav-link-ucp active" href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME}</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --><span class="badge badge-secondary">{folder.UNREAD_MESSAGES}</span></a></li>
										<!-- ELSE -->
										<li class="nav-item"><a class="nav-link nav-link-ucp" href="{folder.U_FOLDER}"><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME}</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span><span class="badge badge-secondary">{folder.UNREAD_MESSAGES}</span></a></li>
										<!-- ENDIF -->
									<!-- END folder -->
									</ul>

									<!-- IF S_SHOW_COLOUR_LEGEND -->
									<hr />

									<h4 class="text-center">{L_MESSAGE_COLOURS}</h4>

									<ul class="list-unstyled">
										<!-- BEGIN pm_colour_info -->
										<li class="pm-legend<!-- IF pm_colour_info.CLASS --> {pm_colour_info.CLASS}<!-- ENDIF -->"><!-- IF pm_colour_info.IMG -->{pm_colour_info.IMG} <!-- ENDIF -->{pm_colour_info.LANG}</li>
										<!-- END pm_colour_info -->
									</ul>
									<!-- ENDIF -->
									<!-- ENDIF -->
								</div>

							</div>

							<div class="col-md-9">
