<!-- INCLUDE ucp_header.html -->

						<form class="form-horizontal" id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

							<h2>{L_TITLE}</h2>

							<hr />

							<!-- IF S_FORCE_PASSWORD -->
							<div class="error">
								<p>{L_FORCE_PASSWORD_EXPLAIN}</p>
							</div>
							<!-- ENDIF -->

							<!-- IF ERROR -->
							<div class="error">
								<p>{ERROR}</p>
							</div>
							<!-- ENDIF -->

							<!-- EVENT ucp_profile_register_details_before -->

							<div class="form-group">
								<label class="col-sm-3 control-label" for="username">{L_USERNAME}<sup>#</sup>{L_COLON}</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="text" name="username" id="username" value="{USERNAME}" title="{L_USERNAME}"<!-- IF not S_CHANGE_USERNAME --> disabled<!-- ENDIF--> />
									<span class="form-text text-muted"># {L_USERNAME_EXPLAIN}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="email">{L_EMAIL_ADDRESS}<sup>#</sup>{L_COLON}</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="email" name="email" id="email" maxlength="100" value="{EMAIL}" title="{L_EMAIL_ADDRESS}" autocomplete="off"<!-- IF not S_CHANGE_EMAIL --> disabled<!-- ENDIF--> />
								</div>
							</div>

							<!-- IF S_CHANGE_PASSWORD -->
							<div class="form-group">
								<label class="col-sm-3 control-label" for="new_password">{L_NEW_PASSWORD}<sup>#</sup>{L_COLON}</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="password" name="new_password" id="new_password" maxlength="255" value="{NEW_PASSWORD}" title="{L_CHANGE_PASSWORD}" autocomplete="off" />
									<span class="form-text text-muted"># {L_CHANGE_PASSWORD_EXPLAIN}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="password_confirm">{L_CONFIRM_PASSWORD}<sup>#</sup>{L_COLON}</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="password" name="password_confirm" id="password_confirm" maxlength="255" value="{PASSWORD_CONFIRM}" title="{L_CONFIRM_PASSWORD}" autocomplete="off" />
									<span class="form-text text-muted"># {L_CONFIRM_PASSWORD_EXPLAIN}</span>
								</div>
							</div>
							<!-- ENDIF -->

							<!-- EVENT ucp_profile_register_details_after -->

							<div class="form-group">
								<label class="col-sm-3 control-label" for="cur_password">{L_CURRENT_PASSWORD}<sup>#</sup>{L_COLON}</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="password" name="cur_password" id="cur_password" maxlength="255" value="{CUR_PASSWORD}" title="{L_CURRENT_PASSWORD}" autocomplete="off" />
									<span class="form-text text-muted"># <!-- IF S_CHANGE_PASSWORD -->{L_CURRENT_CHANGE_PASSWORD_EXPLAIN}<!-- ELSE -->{L_CURRENT_PASSWORD_EXPLAIN}<!-- ENDIF --></span>
								</div>
							</div>

							<div class="posting-buttons">
								<input class="btn btn-large btn-posting" type="submit" name="submit" value="{L_SUBMIT}" />
								<input class="btn btn-large btn-default" type="reset" value="{L_RESET}" name="reset" />
							</div>

							{S_HIDDEN_FIELDS}
							{S_FORM_TOKEN}
						</form>

<!-- INCLUDE ucp_footer.html -->