							<div class="form-group">
								<label class="col-sm-3 control-label" for="avatar_gravatar_email">{L_GRAVATAR_AVATAR_EMAIL}{L_COLON}#</label>
								<div class="col-sm-9 form-inline">
									<input class="form-control" type="text" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_GRAVATAR_EMAIL}" data-reset-on-edit="#avatar_gravatar_width, #avatar_gravatar_height" />
									<span class="form-text text-muted">#{L_GRAVATAR_AVATAR_EMAIL_EXPLAIN}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="avatar_gravatar_email">{L_GRAVATAR_AVATAR_SIZE}{L_COLON}#</label>
								<div class="col-sm-9 form-inline">
									<label for="avatar_gravatar_width"><input class="form-control" type="text" name="avatar_gravatar_width" id="avatar_gravatar_width" size="3" value="{AVATAR_GRAVATAR_WIDTH}" /> {L_PIXEL}</label> &times;&nbsp;
									<label for="avatar_gravatar_height"><input class="form-control" type="text" name="avatar_gravatar_height" id="avatar_gravatar_height" size="3" value="{AVATAR_GRAVATAR_HEIGHT}" /> {L_PIXEL}</label>
									<span class="form-text text-muted">#{L_GRAVATAR_AVATAR_SIZE_EXPLAIN}</span>
								</div>
							</div>
