
/* Icon images
---------------------------------------- */
.icon-faq						{ background-image: url("./images/icon_faq.gif"); }
.icon-members					{ background-image: url("./images/icon_members.gif"); }
.icon-home						{ background-image: url("./images/icon_home.gif"); }
.icon-ucp						{ background-image: url("./images/icon_ucp.gif"); }
.icon-register					{ background-image: url("./images/icon_register.gif"); }
.icon-logout					{ background-image: url("./images/icon_logout.gif"); }
.icon-bookmark					{ background-image: url("./images/icon_bookmark.gif"); }
.icon-bump						{ background-image: url("./images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("./images/icon_subscribe.gif"); }
.icon-unsubscribe				{ background-image: url("./images/icon_unsubscribe.gif"); }
.icon-pages						{ background-image: url("./images/icon_pages.gif"); }
.icon-search, .responsive-search a	{ background-image: url("./images/icon_search.gif"); }
.icon-notification				{ background-image: url("./images/icon_notification.gif"); }
.icon-pm						{ background-image: url("./images/icon_pm.gif"); }
.icon-download					{ background-image: url("./images/icon_download.gif"); }
.icon-mark						{ background-image: url("./images/icon_mark.gif"); }
.icon-sendemail					{ background-image: url("./images/icon_sendemail.gif"); }
.icon-print						{ background-image: url("./images/icon_print.gif"); }

/* Profile & navigation icons */
.contact-icon { background-image: url("./images/icons_contact.gif"); }

.quote-icon, .quote-icon a		{ background-image: url("./en/icon_post_quote.gif"); }
ul.profile-icons.responsive a.responsive-menu-link	{ background-image: url("./images/icon_post_menu.gif"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("./images/icon_post_report.gif"); }
.edit-icon, .edit-icon a			{ background-image: url("./en/icon_post_edit.gif"); }
.delete-icon, .delete-icon a		{ background-image: url("./images/icon_post_delete.gif"); }
.info-icon, .info-icon a			{ background-image: url("./images/icon_post_info.gif"); }
.warn-icon, .warn-icon a			{ background-image: url("./images/icon_user_warn.gif"); } /* Need updated warn icon */

/* Forum icons & Topic icons */
.global_read													{ background-image: url("./images/forum_icons/announce_read.png"); }
.global_read_mine												{ background-image: url("./images/forum_icons/announce_read_mine.png"); }
.global_read_locked												{ background-image: url("./images/forum_icons/announce_read_locked.png"); }
.global_read_locked_mine										{ background-image: url("./images/forum_icons/announce_read_locked_mine.png"); }
.global_unread													{ background-image: url("./images/forum_icons/announce_unread.png"); }
.global_unread_mine												{ background-image: url("./images/forum_icons/announce_unread_mine.png"); }
.global_unread_locked											{ background-image: url("./images/forum_icons/announce_unread_locked.png"); }
.global_unread_locked_mine										{ background-image: url("./images/forum_icons/announce_unread_locked_mine.png"); }

.announce_read													{ background-image: url("./images/forum_icons/announce_read.png"); }
.announce_read_mine												{ background-image: url("./images/forum_icons/announce_read_mine.png"); }
.announce_read_locked											{ background-image: url("./images/forum_icons/announce_read_locked.png"); }
.announce_read_locked_mine										{ background-image: url("./images/forum_icons/announce_read_locked_mine.png"); }
.announce_unread												{ background-image: url("./images/forum_icons/announce_unread.png"); }
.announce_unread_mine											{ background-image: url("./images/forum_icons/announce_unread_mine.png"); }
.announce_unread_locked											{ background-image: url("./images/forum_icons/announce_unread_locked.png"); }
.announce_unread_locked_mine									{ background-image: url("./images/forum_icons/announce_unread_locked_mine.png"); }

.forum_link														{ background-image: url("./images/forum_icons/forum_link.png"); }
.forum_read														{ background-image: url("./images/forum_icons/forum_read.png"); }
.forum_read_locked												{ background-image: url("./images/forum_icons/forum_read_locked.png"); }
.forum_read_subforum											{ background-image: url("./images/forum_icons/forum_read.png"); }
.forum_unread													{ background-image: url("./images/forum_icons/forum_unread.png"); }
.forum_unread_locked											{ background-image: url("./images/forum_icons/forum_unread_locked.png"); }
.forum_unread_subforum											{ background-image: url("./images/forum_icons/forum_unread.png"); }

.sticky_read													{ background-image: url("./images/forum_icons/sticky_read.png"); }
.sticky_read_mine												{ background-image: url("./images/forum_icons/sticky_read_mine.png"); }
.sticky_read_locked												{ background-image: url("./images/forum_icons/sticky_read_locked.png"); }
.sticky_read_locked_mine										{ background-image: url("./images/forum_icons/sticky_read_locked_mine.png"); }
.sticky_unread													{ background-image: url("./images/forum_icons/sticky_unread.png"); }
.sticky_unread_mine												{ background-image: url("./images/forum_icons/sticky_unread_mine.png"); }
.sticky_unread_locked											{ background-image: url("./images/forum_icons/sticky_unread_locked.png"); }
.sticky_unread_locked_mine										{ background-image: url("./images/forum_icons/sticky_unread_locked_mine.png"); }

.topic_moved													{ background-image: url("./images/forum_icons/topic_moved.png"); }
.topic_read														{ background-image: url("./images/forum_icons/topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/forum_icons/topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/forum_icons/topic_read.png"); }
.topic_read_hot_mine											{ background-image: url("./images/forum_icons/topic_read_mine.png"); }
.topic_read_locked												{ background-image: url("./images/forum_icons/topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/forum_icons/topic_read_locked_mine.png"); }
.topic_unread													{ background-image: url("./images/forum_icons/topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/forum_icons/topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/forum_icons/topic_unread.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/forum_icons/topic_unread_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/forum_icons/topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/forum_icons/topic_unread_locked_mine.png"); }

.pm_read														{ background-image: url("./images/forum_icons/topic_read.png"); }
.pm_unread														{ background-image: url("./images/forum_icons/topic_unread.png"); }
